{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dashboard{% endblock %}

{% block head %}
    {{ super() }}
    <!-- Bokeh默认以CDN方式加载BokehJS和BokehCSS(注意调整bokeh版本号) -->
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>
    <!-- 加载JQuery和自定义JS/CSS资源 -->
    <!-- 须在加载其他自定义JS文件之间加载JQuery [IMP] -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='python.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='python.ico') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='aqi_query.js') }}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- 在导航栏中使用glyphicon -->
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <span class="glyphicon glyphicon-home"></span>
                    Home
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <!-- 从左起的导航栏项目 -->
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('dashboard', year='2015') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('heat_maps') }}">Heat Maps</a></li>
                    <li><a href="{{ url_for('stream') }}">Streaming</a></li>
                </ul>
                 <!-- 从右起的导航栏项目 -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div id="aqi-query">
                            <form class="navbar-form">
                                {{ wtf.form_field(aqi_form.city, id='selected-city') }}
                                <button type="button" class="btn btn btn-success" id="submit">查询实时空气质量指数(AQI)</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- content container用于dashboard,heat maps和streaming页面 -->
    <div class="container" id="content-container">
        <!-- 显示flash messages -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        <!-- dialog窗口默认隐藏 -->
        <div id="dialog" title="AQI实时查询结果">
            <p>AQI查询结果：目前没有返回的结果，正在查询...</p>
        </div>
        <!-- 页面内容 -->
        {% block page_content %}{% endblock %}

    <hr>        <!-- 增加一条水平分隔线 -->
    <footer>    <!-- 显示footer -->
        <p>© luyaxin1990@gmail.com</p>
    </footer>
    </div>
{% endblock %}
