{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Streaming{% endblock %}

{% block head %}
{{ super() }}
<!-- 加载figure和widget的scripts -->
{{ script_stream|indent(4)|safe }}
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1><b>Plotting Streaming Data</b></h1>
    <br>
    <p>
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        对streaming数据进行实时分析和可视化。
    </p>
    <p>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        受限于服务器硬件规格(AWS EC2 t2.medium实例)，加载数据量较大的图形时可能会出现耗时较长的情况。
    </p>
    <p>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        若streaming数据的图像出现异常状况，请间隔几秒后刷新页面。
    </p>>
</div>

<div class="container-fluid">
    {{ div_stream|indent(4)|safe }}
</div>

{% endblock %}