{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Streaming{% endblock %}

{% block head %}
{{ super() }}
<!-- 加载figure和widget的scripts -->
{{ script_stream|indent(4)|safe }}
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1><b>Plotting Streaming Data</b></h1>
    <br>
    <p>
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        对streaming数据进行实时分析和可视化。
    </p>
    <p>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        受限于服务器硬件规格(AWS EC2 t2.medium实例)和网络状况，streaming数据的图像可能偶尔会出现异常情况。
    </p>
    <p>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        由于服务器位于海外，网络传输不稳定，导致先传输的数据可能晚于后传输的数据达到，造成正弦/余弦图像异常。
    </p>
</div>

<div class="container-fluid">
    {{ div_stream|indent(4)|safe }}
</div>

{% endblock %}